@(gitVersion: String, 
  lastCommits: List[(String, String, String, String)], 
  currentBranch: String, 
  branches : List[String], 
  currentCommit: (String, String),
  hostname : String
)

@main("Welcome to Play 2.1") {
  <p>
    <span>Git version: </span>
    <span>@gitVersion</span>
  </p>

  <hr />

  <div class="grid">

    <div class="col_6">
      <h6>Commits: </h6>
      <div class="commits">
        @for((sha, date, author, desc) <- lastCommits) {
          <p>
            <span class="sha" ng-click="checkout_commit('@sha')"><a href="#">@sha</a></span>
            <span class="github-link"> <a href="https://github.com/amogil/Expert/commit/@sha">(Github)</a></span>
            <br />
            <span>@date, </span><span>@author</span><br />
            <span class="desc">@desc</span><br />
            <hr class="alt2" />
          </p>
        }
      </div>
    </div>

    <div class="col_6">
      <div>
        <h6>Actions: </h6>

        <p>
          <span><strong>Current branch: </strong></span>
          <span>@currentBranch</span>
        </p>

        <p>
          <span><strong>Current commit: </strong></span>
          <span>@currentCommit._1</span>
          <span>@currentCommit._2</span>
        </p>

        <p>
          <span><strong>Branch to checkout: </strong></span>
          <span>
            <span ng-init="clear_branches()"></span>
            @for(branch <- branches) {
                <span ng-init='add_to_branches("@branch")'></span>
            }
            <span ng-init="currentSelectedBranch='@currentBranch'"></span>
            <select ng-model="currentSelectedBranch" ng-options="branch for branch in branches">
            </select>
          </span>
          <span>
            <button class="button orange" ng-click="checkout_branch()"> <i class="icon-magic"></i> Checkout </button>
          </span>
        </p>
        
        <p>
          <span>
            <button class="button green" ng-click="fetch_all()"> <i class="icon-cloud-download"></i> Fetch All </button>
          </span>
          <span>
            <button class="button green" ng-click="pull_current()"> <i class="icon-download-alt"></i> Pull (current branch) </button>
          </span>
        </p>

        <hr />

        <p class="center">
          <button class="button green" ng-click="restart_service()"> <i class="icon-play"></i> (Re)Start service</button>
          <button class="button red" ng-click="stop_service()"> <i class="icon-stop"></i> Stop service</button>
          <button class="button red" ng-click="checkout_all()"> <i class="icon-bolt"></i> Checkout all</button>
        </p>

        <hr />

        <p class="center">
          <button class="button green" ng-click="stop_cassandra()"> <i class="icon-play"></i> (Re)Start Cassandra</button>
          <button class="button red" ng-click="restart_cassandra()"> <i class="icon-stop"></i> Stop Cassandra</button>
        </p>
      </div>

      <hr />

      <div>
        <h6>Service status: </h6>
        <span class="service-ok" data-ng-show="status"><i class="icon-thumbs-up"></i> OK</span>
        <span class="service-fail" data-ng-hide="status"><i class="icon-thumbs-down"></i> Fail :(</span>
      </div>
    </div>

  </div>

  <hr />

  <div class="log center">
    <textarea id="log-area"> </textarea>
    <script>
      var socket = new WebSocket("ws://@hostname:9000/serviceLog/");
      socket.onmessage = function(msg) {
        var area = $("textarea#log-area");
        area.val(area.val() + "\n" + msg.data);
        // console.log(msg.data);
      }
    </script>
  </div>

  <hr />

  <div class="footer">
    <span><a href="http://github.com/Lakret/testServerApi">Git repo</a></span>
  </div>
}
