@(gitVersion: String, lastCommits: List[(String, String, String, String)], currentBranch: String, branches : List[String])

@main("Welcome to Play 2.1") {
  <p>
    <span>Git version: </span>
    <span>@gitVersion</span>
  </p>

  <hr />

  <div class="grid">

    <div class="col_6">
      <h6>Commits: </h6>
      <div class="commits">
        @for((sha, date, author, desc) <- lastCommits) {
          <p>
            <span class="sha">@sha</span><br />
            <span>@date, </span><span>@author</span><br />
            <span class="desc">@desc</span><br />
            <hr class="alt2" />
          </p>
        }
      </div>
    </div>

    <div class="col_6">
      <div>
        <h6>Actions: </h6>

        <p>
          <span><strong>Current branch: </strong></span>
          <span>@currentBranch</span>
        </p>

<!--
        //   POST    /restart/                   controllers.Application.restart
// POST    /stop/                      controllers.Application.stop
// POST    /checkoutAll/               controllers.Application.checkoutAll
// POST    /checkoutBranch/:name/      controllers.Application.checkoutBranch(name : String) -->

        <p>
          <span><strong>Branch to checkout: </strong></span>
          <span>
            <select>
              @for(branch <- branches) {
                <option value="@branch">@branch</option>
              }
            </select>
          </span>
          <span>
            <button class="button orange"> <i class="icon-magic"></i> Checkout </button>
          </span>
        </p>

        <hr />

        <p class="center">
          <button class="button green" onclick="restart_service()"> <i class="icon-play"></i> (Re)Start service</button>
          <button class="button red" onclick="stop_service()"> <i class="icon-stop"></i> Stop service</button>
          <button class="button red"> <i class="icon-bolt"></i> Checkout all</button>
        </p>

        <hr />

        <p class="center">
          <button class="button green"> <i class="icon-play"></i> (Re)Start Cassandra</button>
          <button class="button red"> <i class="icon-stop"></i> Stop Cassandra</button>
        </p>
      </div>

      <hr />

      <div>
        <h6>Service status: </h6>
        <span class="service-ok" data-ng-show="status"><i class="icon-thumbs-up"></i> OK</span>
        <span class="service-fail" data-ng-hide="status"><i class="icon-thumbs-down"></i> Fail :(</span>
      </div>
    </div>

  </div>

  <hr />

  <div class="log center">    
    <textarea id="log-area"> </textarea>
    <script>
      var socket = new WebSocket("ws://localhost:9000/serviceLog/");
      socket.onmessage = function(msg) {
        var area = $("textarea#log-area");
        area.val(area.val() + "\n" + msg.data);
        // console.log(msg.data);
      }
    </script>
  </div>

  <hr />

  <div class="footer">
    <span><a href="http://github.com/Lakret/testServerApi">Git repo</a></span>
  </div>
}
